<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<<<<<<< HEAD
<!--
  <div class="blue">
  </div>
-->
  <canvas width="600" height="800"></canvas>
=======
    <canvas class="canvas-background"></canvas>
    <div class="link-container">
        <div class="link">About SpaceX</div>
    </div>
    <div class="main-container">
        <div class="quote-container-global">
            <div class="quote-container quote-1">
                <span class="quote fade-in"></span>
            </div>
                
            <div class="quote-container quote-2">
                <span class="quote fade-in"></span>
            </div> 

            <div class="quote-container quote-3 ">
                <span class="quote fade-in"></span>
            </div>
        </div>
        <div class="button-container">
            <div class="discover-button">
                <a href='page1.html' class="text-button">Discover our Story</a>
            </div>
        </div>
    </div>

    <div class="copyright-container">
        <div class="copyright">@2017 HETIC Groupe 7</div>
    </div>
    

>>>>>>> cd52fa2d6a2dcf89712bc403abe84aec982d6586
</body>
</html>