<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <canvas class="canvas-background"></canvas>
            <div class="link-container">
                <div class="link">About SpaceX</div>
            </div>
            <div class="main-container">
                <div class="quote-container-global">
                    <div class="quote-container quote-1">
                        <span class="quote fade-in"></span>
                    </div>

                    <div class="quote-container quote-2">
                        <span class="quote fade-in"></span>
                    </div>

                    <div class="quote-container quote-3 ">
                        <span class="quote fade-in"></span>
                    </div>
                </div>
                <div class="button-container">
                    <div class="discover-button">
                        <div class="text-button">Discover our Story</div>
                    </div>
                </div>
            </div>
            <div class="copyright-container">
                <div class="copyright">@2017 HETIC Groupe 7</div>
            </div>
</body>

</html>