.main-container
{
   position: absolute;
   width: 50%;
   height: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-60%);
   font-family: 'Signika', sans-serif; 
}

.main-container .quote-container
{
   position: absolute;
   width: 0px;
   height: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-45%,-150%);
   overflow: hidden;
}

.quote-container.quote-2
{
   transform: translate(-45%,-50%);
 
}
.quote-container.quote-3
{
   transform: translate(-45%, 50%);
  
}
.quote-container .quote
{
   position: absolute;
   font-size: 30px;
   color: #dbdcdc;
   text-align: center;
}

.main-container .button-container
{
   position: absolute;
   width: 500px;
   height: 50px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,200%);
   text-align: center;
   overflow: hidden;
}
.button-container .discover-button
{
   position: absolute;
   width: 50%;
   height: 100%;
   left: 50%;
   transform: translate(-50%,0%);
   border : 1px solid #dbdcdc;
}

// .button-container .discover-button::before
// {
//     content: '';
//     position: absolute;
//     top: 0px;
//     left:10px;
//     width: 30px;
//     height: 4px;
//     background : #dbdcdc;
//     transition-duration: .3s;
  
// }
.discover-button .text-button
{
   color: #dbdcdc;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-family: 'Bungee Hairline', cursive;
}

.button-container .discover-button:hover
{
   cursor: pointer;
   // &::before
   // {
   //     transform: translateX(30px) scaleX(2);
   // }
}

.link-container
{
   font-family: 'Signika', sans-serif;
   position: absolute;
   top: 3%;
   right: 2%;
   overflow: hidden;
   &>.link
   {
       cursor: pointer;
       color : #dbdcdc;
       &::before
       {
           content: "";
           width: 100px;
           height: 2px;
           background :#dbdcdc;
           position: absolute;
           top:15px;
           animation: AboutLinkAnimation 3s infinite;
          
       }
   }
}

.copyright-container
{
   font-family: 'Signika', sans-serif;   
   position: absolute;
   top: 96%;
   right: 2%;
   overflow: hidden;
   &>.copyright
   {
       font-size: 10px;
       color :#dbdcdc;
   }
}

@keyframes AboutLinkAnimation
{
   0%{transform: translateX(0px)}
   25%{transform: translateX(100px)}
   75%{transform: translateX(-100px)}
   100%{transform: translateX(0px)}
}